@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Style="width: 100%; padding: 0 1rem 0 0;">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" />
                <RadzenLabel Text="Electronic Case Tracking System" />
            </RadzenStack>
            <LoginDisplay />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@_sidebarExpanded" Style="width: max-content">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Line Of Duty Cases" Icon="folder_open" Expanded="true">
                <RadzenPanelMenuItem Text="All Cases" Icon="list" Path="/" />
                <RadzenPanelMenuItem Icon="bookmarks" Path="/bookmarks">
                    <Template>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"
                                     JustifyContent="JustifyContent.SpaceBetween" Style="flex: 1; padding-right: 0.5rem;">
                            <span>My Bookmarks</span>
                            @if (BookmarkCountService.Count > 0)
                            {
                                <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text="@BookmarkCountService.Count.ToString()" />
                            }
                        </RadzenStack>
                    </Template>
                </RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        @Body
    </RadzenBody>
    <RadzenFooter>
        <RadzenLabel Text="© 2026 - Electronic Case Tracking System" />
    </RadzenFooter>
</RadzenLayout>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

